@mixin disflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes openCreatePostModal {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0;
        transform: translate(500%, -50%);
    }

    50% {
        width: 1000px;
        height: 0px;
        transform: translate(-50%, -50%);
        border: 4px solid #000;
    }

    100% {
        width: 1000px;
        height: 900px;
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes closeCreatePostModal {
    0% {
        width: 1000px;
        height: 900px;
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    50% {
        width: 1000px;
        height: 0%;
        transform: translate(-50%, -50%);
        border: 4px solid #000;
    }

    100% {
        width: 0px;
        height: 0px;
        opacity: 0;
        transform: translate(-500%, -50%);
    }
}

.opening {
    animation: openCreatePostModal 1s forwards 1;
}

.create-post-wrappers {
    background: #eeefff;
    width: 900px !important;
    height: 960px !important;

    position: fixed;
    left: 33%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    // animation: openCreatePostModal 1s forwards 1;

    // &.closing {
    //     animation: closeCreatePostModal 1s forwards 1;
    // }



    .ctp-close-btn {
        background: none;
        border: none;
        width: 25px;
        height: 25px;
        cursor: pointer;
        position: absolute;
        left: 0;
    }

    .ctp-footer {
        background: #eeefff;
        width: 900px;
        height: 960px;
    
        position: fixed;
        right: -100%;
        top: -1px;
        z-index: 100;

        .ctp-footer-wrappers {
            width: 100%;
            height: 25%;
            transition-duration: 1s;

            .ctp-footer-text-api-boxes {
                width: 100%;
                height: 100%;
                
                .ctp-footer-text-boxes {
                    width: 100%;
                    height: 35%;
                    @include disflex();

                    p {
                        font-size: 20px;
                        font-weight: 700;
                    }
                }

                .ctp-footer-api {
                    background: #eeefff;
                    width: 100%;
                    height: 800px;
                    font-size: 16px;
                    font-weight: 700;
                    transition-duration: 1s;
                    position: relative;
                    z-index: 1;

                    &:focus {
                        outline: none;
                    }
                }

                .ctp-footer-api-boxes {
                    width: 100%;
                    height: 30%;
                    text-align: center;


                    .storage-btn-boxes {
                        background: #eeefff;
                        width: 100%;
                        height: 67px;
                        border-radius: 0px 0px 10px 10px;
                        align-items: center;
                        z-index: 1;

                        display: flex;
                        justify-content: right;
                        align-items: center;

                        .api-btn {
                            border: none;
                            border-radius: 5px;
                            box-shadow: 1px 1px 2px 1px #444;
                            width: 130px;
                            height: 60%;
                            border: none;
                            cursor: pointer;
                            transition-duration: 0.3s;

                            &:hover {
                                opacity: 0.8;
                            }
                        }

                        #Cancel {
                            background: #fff;

                            &:hover {
                                background: tomato;
                            }
                        }

                        #Storage {
                            margin-left: 20px;
                            background: #1465ad;
                            color: #fff;
                            margin-right: 23px;

                            &:hover {
                                background: #ff6701;
                            }
                        }

                        p {
                            font-weight: 700;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    .header-main-footer-boxes {
        width: 90%;
        height: 958px;
        margin: 0 auto;

        .ctp-header-wrappers {
            width: 100%;
            height: 35%;
            
            .ctp-header-text-tag-boxes {
                width: 100%;
                height: 100%;
                
                .ctp-header-text-boxes {
                    width: 100%;
                    height: 20%;
                    @include disflex();
                    
                    #SelectLocation {
                        font-size: 20px;
                        font-weight: 700;
                    }
                }
                
                .connect-create-posts {
                    width: 100%;
                    height: 80%;
                    
                    .ctp-header-tag-boxes {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;

                        .ctp-header-tags {
                            background: #1465ad;
                            border: none;
                            border-radius: 5px;
                            box-shadow: 1px 1px 2px 1px #444;
                            width: 150px;
                            height: 35px;
                            margin: 5px;
                            transition-duration: 0.3s;
                            cursor: pointer;
                            @include disflex();

                            &:hover {
                                background: #ff6701;
                                opacity: 0.8;
                                transform: translateY(3px);
                            }

                            p {
                                color: #fff;
                                font-size: 14px;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
        .ctp-main-wrappers ::-webkit-scrollbar {
            display: none;
        }
        .ctp-main-wrappers {
            width: 100%;
            height: 65%;
            @include disflex();

            .ctp-main-boxes {
                width: 100%;
                height: 100%;
                overflow: scroll;
            }
        }


        
    }
}

