@import url(./common.scss);

.ConnectTemplate {
    // background: #D9D9D9;
    width: 960px;
    height: 1024px;
    height: 2048px;
    
    position: absolute;
    left: calc(50% - 960px/2);
    top: 0px;
}