@mixin disflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

$placeholder-color: #fff;

body {
    position: relative;
}

@keyframes openWriteChatModal {
    0% {
        width: 550px;
        height: 0;
        opacity: 0;
    }

    50% {
        width: 550px;
        height: 0;
        border: 4px solid #000;
    }

    100% {
        width: 550px;
        height: 300px;
        opacity: 1;
    }
}

@keyframes closeWriteChatModal {
    0% {
        width: 550px;
        height: 300px;
        opacity: 1;
    }

    50% {
        width: 550px;
        height: 0;
        border: 4px solid #000;
    }

    100% {
        width: 0;
        height: 0;
        opacity: 1;
    }
}

#WriteChatModal {
    background: #eeefff;
    width: 550px;
    height: 300px;
    overflow: hidden;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    animation: openWriteChatModal 1s forwards 1;

    .write-chat-modal-box {
        width: 100%;
        height: 100%;

        .wc-header {
            width: 100%;
            height: 15%;

            .wc-tag-box {
                width: 98%;
                height: 100%;
                margin: 0 auto;
                padding-left: 5px;
                display: flex;
                justify-content: left;
                align-items: center;

                #ClickTag {
                    border: none;
                    background: #1465ad;
                    width: 35px;
                    height: 35px;
                    transition-duration: 0.3s;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.8;
                    }

                    p {
                        color: #fff;
                        font-size: 16px;
                    }
                }

                .wc-tag {
                    border: 2px solid #1465ad;
                    border-left: none;
                    border-radius: 0 25px 25px 0;
                    background: #fff;
                    color: #000;
                    width: 92.5%;
                    height: 35px;
                    text-align: center;
                    transition-duration: 0.3s;

                    &:focus {
                        outline: none;
                    }

                    &::placeholder {
                        color: #000;
                        opacity: 0.6;
                        font-weight: 700;
                    }
                }
            }
        }

        .wc-main {
            width: 100%;
            height: 70%;

            .wc-content-box {
                width: 100%;
                height: 100%;
                text-align: center;

                .wc-content {
                    border: 2px solid #1465ad;
                    border-radius: 5px;
                    width: 95%;
                    height: 100%;
                    padding: 5px;
                    font-size: 16px;
                    font-weight: 700;

                    &:focus {
                        outline: none;
                    }

                    &::placeholder {
                        font-size: 14px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }

        .wc-footer {
            width: 100%;
            height: 15%;

            .wc-btn-box {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: right;
                align-items: center;

                .wc-btn-box {
                    width: 25%;
                    height: 100%;
                    @include disflex();

                    .wc-btn {
                        border: none;
                        border-radius: 5px;
                        width: 80%;
                        height: 70%;
                        cursor: pointer;
                        transition-duration: 0.3s;

                        p {
                            font-size: 14px;
                            font-weight: 700;
                        }
                    }

                    #Cancel {
                        background: #fff;
                        &:hover {
                            background: tomato;
                        }
                    }

                    #Register {
                        background: #1465ad;
                        color: #fff;

                        &:hover {
                            background: #ff6701;
                        }
                    }
                }
            }
        }
    }
}

.live-chatting-wrapper::-webkit-scrollbar {
    display: none;
}

.live-chatting-wrapper {
    width: 100%;
    height: 750px;
    background: #fff;
    overflow: scroll;

    .live-chatting-box {
        width: 100%;
        height: 100%;

        .lc-info-tag-box {
            background: #fff;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            display: flex;


            .lc-info-box {
                width: 90%;
                height: 100%;
                margin: 0 auto;
                // overflow: scroll;

                .info-header-box {
                    width: 100%;
                    height: 120px;

                    .info-header {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;

                        .info-img-box {
                            width: 20%;
                            height: 100%;
                            @include disflex();

                            .info-img {
                                background: url('./img/HashTag.png')no-repeat;
                                background-size: 150%;
                                background-position-x: -23px;
                                background-position-y: -24px;
                                border-radius: 10px;
                                width: 90px;
                                height: 90px;
                                @include disflex();
                            }
                        }

                        .info-text-box {
                            width: 50%;
                            height: 70%;

                            .info-main-text-box {
                                width: 100%;
                                height: 50%;
                                font-size: 20px;
                                font-weight: 700;
                                display: flex;
                                justify-content: left;
                                align-items: center;
                            }

                            .info-sub-text-box {
                                width: 100%;
                                height: 50%;
                                font-weight: 700;
                                display: flex;
                                justify-content: left;
                                align-items: center;
                            }
                        }

                        .write-btn-box {
                            border: none;
                            width: 30%;
                            height: 100%;
                            @include disflex();

                            #Write-Btn {
                                box-shadow: 1px 1px 2px 1px #444;
                                border: none;
                                background: #1465ad;
                                border-radius: 10px;
                                width: 120px;
                                height: 45px;
                                cursor: pointer;
                                transition-duration: 0.3s;

                                &:hover {
                                    background: #ff6701;
                                }

                                p {
                                    color: #fff;
                                    font-size: 16px;
                                    font-weight: 700;
                                }
                            }
                        }























                    }
                }

                .lc-info-wrapper {
                    border: none;
                    box-shadow: 2px 2px 5px 1px #444;
                    border-radius: 5px;
                    background: #eeefff;
                    width: 95%;
                    height: 170px;
                    margin: 20px auto;
                    cursor: pointer;

                    @include disflex();

                    &:hover {
                        opacity: 0.9;
                    }

                    .info-box {
                        width: 95%;
                        height: 90%;
                    }

                    .lc-info-tag-like-reply-box {
                        width: 100%;
                        height: 25%;
                        margin: 0 auto;
                        display: flex;

                        p {
                            font-weight: 700;
                        }

                        .tag-box {
                            width: 50%;
                            height: 100%;
                            display: flex;
                            align-items: center;

                            .tag {
                                background: #1465ad;
                                width: 100%;
                                height: 85%;
                                margin: 0 auto;
                                transition-duration: 0.3s;
                                @include disflex();

                                &:hover {
                                    background: #ff6701;
                                }

                                p {
                                    font-weight: 700;
                                    color: #fff;
                                    font-size: 16px;
                                }
                            }
                        }

                        // .like-box {
                        //     width: 25%;
                        //     height: 100%;
                        //     align-items: center;
                        //     display: flex;

                        //     .like {
                        //         background: url('./img/Like.png') no-repeat;
                        //         background-size: 60%;
                        //         background-position: 10px;
                        //         width: 30%;
                        //         height: 100%;
                        //         cursor: pointer;
                        //     }
                        // }

                        // .reply-box {
                        //     width: 25%;
                        //     height: 100%;
                        //     align-items: center;
                        //     display: flex;

                        //     .reply {
                        //         background: url('./img/Reply.png') no-repeat;
                        //         background-size: 60%;
                        //         background-position: 10px;
                        //         width: 30%;
                        //         height: 100%;
                        //         cursor: pointer;
                        //     }
                        // }
                    }

                    .lc-info-text-img-box {
                        width: 100%;
                        height: 75%;
                        display: flex;

                        .text-box {
                            width: 100%;
                            height: 100%;

                            .info-text {
                                background: #fff;
                                border-radius: 0px 5px 5px 5px;
                                width: 100%;
                                height: 100%;
                                font-weight: 700;
                                font-size: 16px;
                            }
                        }

                        // .img-box {
                        //     width: 25%;
                        //     height: 100%;

                        //     .info-img {
                        //         background: url('./img/LoginBackGround.jpg') no-repeat;
                        //         background-size: 100%;
                        //         width: 100%;
                        //         height: 100%;
                        //     }
                        // }
                    }
                }
            }

            .lc-tag-wrapper {
                background: #fff;
                width: 30%;
                height: 100%;
                display: flex;
                justify-content: center;
                border-left: 4px solid #1247ad;

                .lc-tag-box {
                    border-radius: 5px;
                    width: 95%;
                    height: 1595px;

                    .tag-text {
                        border-bottom: 2px dashed rgb(20, 101, 173);
                        width: 90%;
                        height: 50px;
                        margin: 0 auto;
                        @include disflex();

                        p {
                            font-size: 18px;
                            font-weight: 700;
                        }
                    }

                    .ic-tag-list-box {
                        width: 90%;
                        height: 90%;
                        margin: 8px auto;

                        .ic-tag-list {
                            background: rgb(20, 101, 173);
                            width: 100%;
                            height: 35px;
                            margin-bottom: 10px;
                            cursor: pointer;
                            transition-duration: 0.3s;
                            @include disflex();

                            &:hover {
                                background: #ff6701;
                            }

                            p {
                                color: #fff;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }
}

.test1234 {
    width: 865px;
    height: 800px;

    .lcheader-wrapper {
        border: 1px solid #000;
        width: 100%;
        height: 150px;
        display: flex;

        .lcheader-img-box {
            border-right: 1px solid #000;
            width: 30%;
            height: 100%;

            .lcheader-img {
                border-bottom: 1px dashed #000;
                background: url('./img/ConncetCat.Logo.png') no-repeat;
                background-size: 50%;
                background-position-x: 60px;
                width: 90%;
                height: 75%;
                margin: 0 auto;
                // @include disflex();
            }

            .lcheader-nickname {
                width: 90%;
                height: 25%;
                margin: 0 auto;
                font-weight: 700;
                @include disflex();
            }
        }

        .lcheader-accessor-box {
            background: aquamarine;
            width: 70%;
            height: 100%;
            position: relative;

            .close-btn-box {
                border: none;
                background: none;
                width: 40px;
                height: 40px;
                cursor: pointer;
                position: absolute;
                right: 0;
                top: 0;
                @include disflex();

                &:hover {
                    opacity: 0.7;
                }
                
                #closeBtn {
                    background: url('./img/Quit.png') no-repeat;
                    background-size: 100%;
                    border: none;
                    width: 75%;
                    height: 75%;
                    cursor: pointer;
                }
            }

            .lcheader-accessor {
                width: 100%;
                height: 100%;
                @include disflex();
            }
        }
    }
}

.lcmain-wrapper {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    background: #eeefff;
    width: 100%;
    height: 500px;
    

    .lcmain-box {
        width: 95%;
        height: 100%;
        margin: 0 auto;

        .lcmain-chatlist-wrapper::-webkit-scrollbar {
            display: none;
        }

        .lcmain-chatlist-wrapper {
            width: 100%;
            height: 100%;
            overflow: scroll;



            .list-group-item {
                width: 70%;
                height: 50px;
                margin: 20px auto;
                // margin-bottom: 20px;
                border-radius: 25px;
                animation: light 3.5s forwards infinite;

                @keyframes light {
                    0% {
                        box-shadow: 1px 1px 1px 1px #1247ad;
                    }

                    50% {
                        box-shadow: -1px -1px 3px 1px #ff6701;
                    }

                    100% {
                        box-shadow: 1px 1px 1px 1px #1247ad;
                    }
                }

                .list-group {
                    width: 90%;
                    height: 50px;
                    margin: 0 auto;
                    font-size: 16px;
                    font-weight: 700;
                    display: flex;
                    @include disflex();


                    .message {
                        height: 100%;
                        @include disflex();
                    }

                    p {
                        width: 2.5%;
                        height: 100%;
                        @include disflex();
                    }

                    #Sender {
                        width: fit-content;
                        font-size: 20px;
                        @include disflex();
                    }

                    #Message {
                        width: 45%;
                        @include disflex();
                    }

                }
            }




















            .lcmain-chatlist-header {
                border: 1px solid #000;
                width: fit-content;
                height: fit-content;
                padding: 10px;
            }

            .lcmain-chatlist-box {
                border: 1px solid #000;
                width: 95%;
                height: 100%;
                margin: 0 auto;
                display: flex;

                .lcmain-chatlist-profile-box {
                    border: 1px solid #000;
                    width: 75px;
                    height: 75px;
                    @include disflex();

                    .lcmain-chatlist-profile {
                        border: 1px solid #000;
                        border-radius: 50%;
                        width: 60px;
                        height: 60px;
                        @include disflex();
                    }
                }


            }

        }

    }


}

.lcfooter-wrapper {
    width: 100%;
    height: 150px;

    .lcfooter-box {
        border: 1px solid #000;
        width: 100%;
        height: 100%;

        .input-text-btn-box {
            width: 100%;
            height: 100%;
            display: flex;

            .input-text-box {
                width: 80%;
                height: 100%;

                .input-text {
                    border: none;
                    border-right: 1px solid #000;
                    width: 100%;
                    height: 100%;
                    font-size: 20px;
                    font-weight: 700;
                    text-align: center;

                    &:focus {
                        outline: none;
                    }
                }
            }

            .input-btn-box {
                width: 20%;
                height: 100%;

                .input-btn {
                    border: none;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}


// 왼쪽 (상대) 채팅 박스
.user-message-left-wrapper {
    width: 100%;
    height: 15%;
    margin: 10px auto;

    .user-message-left-box {
        width: 90%;
        height: 100%;
        display: flex;

        .uml-img-nickname-box {
            width: 10%;
            height: 100%;

            .uml-img-box {
                width: 100%;
                height: 70%;
                @include disflex();

                .uml-img {
                    border: 1px solid #000;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    @include disflex();
                }

            }

            .uml-nickname-box {
                width: 100%;
                height: 30%;
                @include disflex();

                .uml-nickname {
                    font-size: 14px;
                    font-weight: 700;
                }
            }
        }

        .uml-message-time-box {
            width: 90%;
            height: 100%;

            .uml-message-box {
                width: 85%;
                height: 80%;
                display: flex;
                justify-content: left;
                align-items: center;
                
                
                .uml-message {
                    border-radius: 0 20px 20px 20px;
                    border: none;
                    background: #1465ad;
                    color: #fff;
                    width: fit-content;
                    height: fit-content;
                    padding: 10px;
                    font-size: 16px;
                    position: relative;

                    .uml-time-box {
                        width: 15%;
                        height: 20%;
                        @include disflex();
                        position: absolute;
                        bottom: 0;
                        right: -16%;

                        .uml-time {
                            color: #000;
                            width: 98%;
                            height: 93%;
                            font-size: 14px;
                            font-weight: 700;
                            display: flex;
                            flex-direction: column-reverse;
                        }
                    }
                }


            }


        }
    }
}

// 오른쪽 (사용자) 채팅 박스
.user-message-right-wrapper {
    width: 100%;
    height: 15%;
    margin: 10px auto;
    display: flex;
    justify-content: right;

    .user-message-right-box {
        width: 90%;
        height: 100%;
        display: flex;

        .umr-img-nickname-box {
            width: 10%;
            height: 100%;

            .umr-img-box {
                width: 100%;
                height: 70%;
                @include disflex();

                .umr-img {
                    border: 1px solid #000;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    @include disflex();
                }

            }

            .umr-nickname-box {
                width: 100%;
                height: 30%;
                @include disflex();

                .umr-nickname {
                    font-size: 14px;
                    font-weight: 700;
                }
            }
        }

        .umr-message-time-box {
            width: 90%;
            height: 100%;

            .umr-message-box {
                width: 100%;
                height: 80%;
                display: flex;
                justify-content: right;
                align-items: center;
                
                .umr-message {
                    border-radius: 20px 0 20px 20px;
                    border: none;
                    background: #ff6701;
                    color: #fff;
                    width: fit-content;
                    height: fit-content;
                    padding: 10px;
                    font-size: 16px;
                    position: relative;
                    border: 1px solid red;

                    .umr-time-box {
                        width: 100%;
                        height: 20%;
                        @include disflex();
                        justify-content: right;
                        position: absolute;
                        bottom: 10%;
                        left: -101%;
        
                        .umr-time {
                            color: #000;
                            width: 96%;
                            height: 100%;
                            font-size: 14px;
                            font-weight: 700;
                            display: flex;
                            justify-content: right;
                        }
                    }
                }
            }

            
        }
    }
}