@mixin disflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gcmain-wrapper {
    border: 1px solid #000;
    width: 100%;
    height: 65%;

    .gcmain-box {
        background: yellow;
        width: 90%;
        height: 100%;
        margin: 0 auto;
        text-align: center;
        line-height: 35em;
    }
}
