@mixin disflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

// playlist
.playlist-board-wrapper {
    width: 100%;
    height: 1595px;

    // playlist box
    .plb-box {
        background: #fff;
        width: 90%;
        height: 100%;
        margin: 0 auto;

        // playlist header 
        .plb-header {
            width: 100%;
            height: 120px;
            padding: 15px;
            
            // 메인text + 검색창 box
            .plb-header-text-search-box {
                width: 100%;
                height: 100%;
                margin-bottom: 10px;
                display: flex;

                // 플리 logo
                .plb-logo {
                    background: url('./img/PlaylistLogo.png') no-repeat;
                    background-size: 110%;
                    background-position-x: -1px;
                    border-radius: 20px;
                    width: 12%;
                    height: 100%;
                }

                .plb-text-box {
                    width: 38%;
                    height: 100%;
                    font-weight: 700;
                }

                // 플리 메인 Title
                h2 {
                    width: 100%;
                    height: 40%;
                    font-size: 26px;
                    padding-left: 3%;
                }
                
                // 플리 서브 Title
                p {
                    width: 100%;
                    height: 60%;
                    padding-left: 4%;
                }
                
            }
            
        }

        // playlist container
        .plb-container-box {
            width: 100%;
            height: 1473px;

            // plb-container
            .plb-container {
                width: 100%;
                height: 100%;
                margin: 0 auto;
                @include disflex();

                .plb-list-wrapper {
                    width: 95%;
                    height: 95%;
                    margin: 0 auto;
                    overflow: scroll;
                    border: 1px solid #000;

                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    
                    .plb-list:hover #Hidden-Playbtn {
                        display: block;
                        animation: showPlaybtn 0.5s forwards 1;
                    }
                    
                    @keyframes showPlaybtn {
                        0% {
                            opacity: 0;
                            transform: translateY(0);
                        } 100% {
                            opacity: 1;
                            transform: translateY(-90px);
                        }
                    }

                    .plb-list {
                        background: #1465ad;
                        border-radius: 20px;
                        box-shadow: 2px 2px 2px 1px #444;
                        width: 30%;
                        height: 300px;
                        margin-bottom: 20px;
                        transition-duration: 0.5s;
                        cursor: pointer;
                        position: relative;

                        &:hover {
                            opacity: 0.8;
                            transform: scale(0.95);
                        }

                        
                        #Hidden-Playbtn {
                            background: url('./img/HiddenPlayBtn.png') no-repeat;
                            background-size: 100%;
                            border: 1px solid #000;
                            border-radius: 50%;
                            width: 50px;
                            height: 50px;
                            display: none;

                            position: absolute;
                            bottom: 20px;
                            right: 20px;
                            z-index: 11;
                        }

                        
                        .pl-img-box {
                            border-radius: 20px 20px 0px 0px;
                            width: 100%;
                            height: 70%;
                            @include disflex();
                            
                            .pl-img {
                                background: #fff;
                                border-radius: 20px;
                                width: 85%;
                                height: 85%;
                            }


                        }
                        
                        .pl-name-box {
                            border-radius: 0px 0px 20px 20px;
                            width: 100%;
                            height: 30%;
                            
                            .pl-name {
                                border-radius: 0px 0px 20px 20px;
                                width: 100%;
                                height: 100%;
                                @include disflex();

                                p {
                                    font-size: 16px;
                                    font-weight: 700;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}