@mixin disflex {
    display: flex;
    justify-content: center;
    align-items: center;
}



.live-chatting-wrapper {
    width: 100%;
    height: 1595px;
    background: #fff;
    
    .live-chatting-box {
        width: 100%;
        height: 100%;
        
        .lc-info-tag-box {
            background: #fff;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            display: flex;
            
            .lc-info-box  {
                width: 70%;
                height: 100%;
                overflow: scroll;
                
                .lc-info-wrapper {
                    border: none;
                    box-shadow: 2px 2px 5px 1px #444;
                    border-radius: 5px;
                    background: #eeeeee;
                    width: 95%;
                    height: 170px;  
                    margin: 10px auto;
                    cursor: pointer;
                    
                    @include disflex();

                    &:hover {
                        opacity: 0.9;
                    }
                    
                    .info-box {
                        width: 95%;
                        height: 90%;
                    }
                    
                    .lc-info-tag-like-reply-box {
                        width: 100%;
                        height: 25%;
                        margin: 0 auto;
                        display: flex;

                        p {
                            font-weight: 700;
                        }
                        
                        .tag-box {
                            width: 50%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            
                            .tag {
                                background: rgb(20, 101, 173);
                                width: 100%;
                                height: 85%;
                                margin: 0 auto;
                                transition-duration: 0.3s;
                                @include disflex();

                                &:hover {
                                    background: #ff6701;
                                }
                                
                                p {
                                    font-weight: 700;
                                    color: #fff;
                                    font-size: 16px;
                                }
                            }
                        }

                        // .like-box {
                        //     width: 25%;
                        //     height: 100%;
                        //     align-items: center;
                        //     display: flex;
                            
                        //     .like {
                        //         background: url('./img/Like.png') no-repeat;
                        //         background-size: 60%;
                        //         background-position: 10px;
                        //         width: 30%;
                        //         height: 100%;
                        //         cursor: pointer;
                        //     }
                        // }
                        
                        // .reply-box {
                        //     width: 25%;
                        //     height: 100%;
                        //     align-items: center;
                        //     display: flex;
                            
                        //     .reply {
                        //         background: url('./img/Reply.png') no-repeat;
                        //         background-size: 60%;
                        //         background-position: 10px;
                        //         width: 30%;
                        //         height: 100%;
                        //         cursor: pointer;
                        //     }
                        // }
                    }
                    
                    .lc-info-text-img-box {
                        width: 100%;
                        height: 75%;
                        display: flex;
                        
                        .text-box {
                            width: 100%;
                            height: 100%;

                            .info-text {
                                background: #fff;
                                border-radius: 0px 5px 5px 5px;
                                width: 100%;
                                height: 100%;   
                                font-weight: 700;
                                font-size: 16px;
                            }
                        }
                        
                        // .img-box {
                        //     width: 25%;
                        //     height: 100%;

                        //     .info-img {
                        //         background: url('./img/LoginBackGround.jpg') no-repeat;
                        //         background-size: 100%;
                        //         width: 100%;
                        //         height: 100%;
                        //     }
                        // }
                    }
                }
            }

            .lc-tag-wrapper {
                background: #fff;
                width: 30%;
                height: 100%;   
                display: flex;
                justify-content: center;
                border-left: 4px solid #1247ad;

                .lc-tag-box {
                    border-radius: 5px;
                    width: 95%;
                    height: 1595px;

                    .tag-text {
                        border-bottom: 2px dashed rgb(20, 101, 173);
                        width: 90%;
                        height: 50px;
                        margin: 0 auto;
                        @include disflex();

                        p {
                            font-size: 18px;
                            font-weight: 700;
                        }
                    }

                    .ic-tag-list-box {
                        width: 90%;
                        height: 90%;
                        margin: 8px auto; 

                        .ic-tag-list {
                            background: rgb(20, 101, 173);
                            width: 100%;
                            height: 35px;
                            margin-bottom: 10px;
                            cursor: pointer;
                            transition-duration: 0.3s; 
                            @include disflex();

                            &:hover {
                                background: #ff6701;
                            }

                            p {
                                color: #fff;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }
}

.test1234 {
    width: 865px;
    height: 800px;

    .lcheader-wrapper {
        border: 1px solid #000;
        width: 100%;
        height: 150px;
        display: flex;

        .lcheader-img-box {
            border-right: 1px solid #000;
            width: 30%;
            height: 100%;

            .lcheader-img {
                width: 100%;
                height: 100%;
                @include disflex();
            }
        }

        .lcheader-accessor-box {
            background: tomato;
            width: 70%;
            height: 100%;

            .lcheader-accessor {
                width: 100%;
                height: 100%;
                @include disflex();
            }

        }
    }
}

.lcmain-wrapper {
    width: 100%;
    height: 500px;

    .lcmain-box {
        border: 1px solid #000;
        width: 100%;
        height: 100%;

        .lcmain-chatlist-wrapper {
            width: 100%;
            height: 100%;
            border: 1px solid red;

            .list-group-item {
                width: 70%;
                height: 50px;
                margin: 0 auto;
                margin-top: 20px;
                border-radius: 25px;
                animation: light 2s forwards infinite;
                
                @keyframes light {
                    0% {
                        box-shadow: 1px 1px 3px 1px #1247ad;
                    } 50% {
                        box-shadow: -1px -1px 3px 1px #ff6701;
                    } 100% {
                        box-shadow: 1px 1px 3px 1px #1247ad;
                    }
                }
                
                .list-group {
                    width: 90%;
                    height: 50px;
                    margin: 0 auto;
                    font-size: 16px;
                    font-weight: 700;
                    display: flex;
                    @include disflex();       


                    .message {
                        height: 100%;
                        @include disflex();             
                    }
                    
                    p {
                        width: 2.5%;
                        height: 100%;
                        @include disflex();             
                    }
                    
                    #Sender {
                        width: fit-content;
                        font-size: 20px;
                        @include disflex();             
                    }
                    
                    #Message {
                        width: 45%;
                        @include disflex();             
                    }

                }
            }




















            .lcmain-chatlist-header {
                border: 1px solid #000;
                width: fit-content;
                height: fit-content;
                padding: 10px;
            }

            .lcmain-chatlist-box {
                border: 1px solid #000;
                width: 95%;
                height: 100%;
                margin: 0 auto;
                display: flex;

                .lcmain-chatlist-profile-box {
                    border: 1px solid #000;
                    width: 75px;
                    height: 75px;
                    @include disflex();
                    
                    .lcmain-chatlist-profile {
                        border: 1px solid #000;
                        border-radius: 50%;
                        width: 60px;
                        height: 60px;
                        @include disflex();
                    }
                }

                
            }

        }

    }

}














