@mixin disflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
}

body {
    position: relative;
}

// 로그인 창 출력시 배경
.backDrop {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include disflex();
    z-index: 1;
    display: none;
}

// 로그인 버튼 box
.connect-header-login-wrapper {
    width: 75px;
    height: 75px;
    border-radius: 10px;

    position: fixed;
    bottom: 75px;
    right: 75px;

    z-index: 1;

    &:hover .ch-signin-box {
        display: block;
        transition: 0.5s ease;
        opacity: 1;
    }

    // 로그인 box
    .ch-login-box {
        width: 75px;
        height: 75px;
        border-radius: 10px;

        @include disflex();

        // 로그인
        #Login {
            background: #000;
            color: #fff;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            font-weight: 700;
            cursor: pointer;

            @include disflex();
        }
    }

    // 회원가입 box
    .ch-signin-box {
        width: 100%;
        height: 100%;
        border-radius: 10px;

        @include disflex();
        position: absolute;
        bottom: 75px;
        left: 0;
        opacity: 0;

        // 회원가입
        #Sign-in {
            background: #000;
            color: #fff;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            font-weight: 700;
            cursor: pointer;
            
            @include disflex();
        }
    }
}

// 로그인 모달
.login-modal-box {
    background: #fff;
    width: 400px;
    height: 500px;
    
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    
    display: none;
    
    // header (사용자 프로필 이미지)
    #Header {
        width: 100%;
        height: 25%;
        
        // 사용자 프로필 box
        .user-profile-box {
            width: 33%;
            height: 100%;
            margin: 0 auto;
            
            @include disflex();
            
            // 사용자 프로필
            .user-profile {
                background: #ddd;
                border-radius: 50%;
                width: 80%;
                height: 85%;
                
                @include disflex();
            }
        }
    }
    
    // container (로그인 입력창)
    #Container {
        width: 100%;
        height: 60%;
        
        // 로그인 입력창
        .login-wrapper {
            border: 4px solid #ddd;
            border-bottom: none;
            width: 80%;
            height: 100%;
            margin: 0 auto;
            
            // 로그인 입력창 box
            .login-box {
                width: 100%;
                height: 100%;
                position: relative;
                
                // 아이디, 비밀번호 입력창
                .id-pw-box {
                    width: 100%;
                    height: 60%;
                    text-align: center;
                    border-bottom: 4px solid #ddd;
                    
                    // form
                    form {
                        width: 100%;
                        height: 100%;
                        
                        // 입력창
                        .inputBox {
                            border: 4px solid #ddd;
                            width: 80%;
                            height: 30%;
                            font-size: 16px;
                            text-align: center;
                            margin-top: 24px;
                            
                            &:focus {
                                outline: none;
                            }
                        }
                    }

                    
                }
                
                // 로그인 버튼 box
                .login-btn-box {
                    width: 97%;
                    height: 20%;
                    margin: 0 auto;
                    
                    // 로그인 버튼
                    .login-btn {
                        background: #ddd;
                        width: 100%;
                        height: 85%;
                        margin-top: 5px;
                        border: none;
                        font-size: 16px;
                        font-weight: 700;
                        text-align: center;
                        cursor: pointer;
    
                        &:focus {
                            outline: none;
                        }
                    }

                }
                
                
                // 아이디, 비밀번호 찾기
                .search-id-pw-wrapper {
                    width: 100%;
                    height: 20%;
                    position: absolute;
                    bottom: 0;
                    
                    // 아이디, 비밀번호 찾기 box 
                    .search-id-pw-box {
                        width: 100%;
                        height: 100%;

                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;

                        // 아이디, 비밀번호 찾기
                        .search-id-pw {
                            background: #ddd;
                            width: 100%;
                            height: 100%;
                            @include disflex();

                            .search-text {
                                color: #000;
                                font-weight: 700;
                            }
                        }

                        #SearchID {
                            border-right: 4px solid #fff;
                        }
                    }
                }
            }
        }
    }

    // footer
    #Footer {
        width: 100%;
        height: 15%;
        
        // 소셜 로그인 전체
        .social-login-wrapper {
            width: 100%;
            height: 100%;
            
            // 소셜 로그인 box
            .social-login-box {
                width: 50%;
                height: 100%;
                margin: 0 auto;
                display: flex;
                
                // 소셜 로그인 목록
                .social-login-list {
                    width: 30%;
                    height: 100%;
                    margin: 0 auto;
                    position: relative;
                    
                    // 소셜 로그인 이미지 box
                    .img-box {
                        border: none;
                        // border-radius: 50%;
                        width: 35px;
                        height: 35px;
                        border: 4px solid #ddd;
                        
                        position: absolute;
                        top: 0;
                        left: 0;
                        transform: translate(50%, 50%);
                    }
                }
                
                // Kakaotalk
                #KakaoTalk {
                    background: url('./img/kakaoTalk.png') no-repeat;
                    background-size: 100%;
                }
                
                // Google
                #Google {
                    background: url('./img/Google.png') no-repeat;
                    background-size: 100%;
                }

                // Naver
                #Naver {
                    background: url('./img/Naver.png') no-repeat;
                    background-size: 100%;
                }
            }
        }
    }

    // 닫기 버튼
    .closeBtn {
        background: url('./img/CloseBtn.png') no-repeat;
        background-size: 100%;
        border: none;
        width: 35px;
        height: 35px;
        cursor: pointer;

        position: absolute;
        top: 0;
        right: 0;
    }
}















// 회원가입 모달
.signin-modal-box {
    background: #fff;
    width: 400px;
    height: 887px;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

    display: none;

    // header (사용자 프로필 이미지)
    #Header {
        width: 100%;
        height: 150px;

        // 사용자 프로필 box
        .user-profile-box {
            width: 40%;
            height: 100%;
            margin: 0 auto;

            @include disflex();

            // 사용자 프로필
            .user-profile {
                background: #ddd;
                border-radius: 50%;
                width: 80%;
                height: 85%;

                @include disflex();
            }
        }
    }
}

// container (회원가입 입력창)
#Container {
    width: 100%;
    height: 650px;

    // 회원가입 입력창 전체
    .signin-wrapper {
        border: 4px solid #ddd;
        width: 80%;
        height: 100%;
        margin: 0 auto;
        
        // 회원가입 box
        .signin-info-list {
            border: 4px solid #ddd;
            border-radius: 5px;
            width: 80%;
            height: 8%;
            margin: 18px auto;
            
            // 회원가입 정보 입력창
            input {
                border: none;
                width: 100%;
                height: 100%;
                font-size: 16px;
                text-align: center;
                font-weight: 700;
                
                &:focus {
                    outline: none;
                }
            }
        }
    }
}


// 닫기 버튼
.closeBtn {
    background: url('./img/CloseBtn.png') no-repeat;
    background-size: 100%;
    border: none;
    width: 35px;
    height: 35px;
    cursor: pointer;

    position: absolute;
    top: 0;
    right: 0;
}