@mixin disflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    position: relative;
}

@keyframes openSelect {
    0% {
        width: 0;
        height: 0;
        transform: translate(0%, 0%);
    } 
    
    50% {
        width: 470px;
        height: 0;
        transform: translate(0%, 0%);
    }

    100% {
        width: 470px;
        height: 1025px;
        transform: translate(0%, 0%);
    }

}
@keyframes closeSelect {
    0% {
        width: 470px;
        height: 1025px;
        transform: translate(0%, 0%);
    } 
    
    50% {
        width: 470px;
        height: 0;
        transform: translate(0%, 0%);
    }

    100% {
        width: 0;
        height: 0;
        transform: translate(0%, 0%);
    }
}



// hp-wrapper
.hp-wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    
    .hp-info-header {
        width: 100%;
        height: 90px;
        background: #fff;
        border-bottom: 4px solid rgb(20, 101, 173);

        .hp-info-select-box {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            display: flex;

            .select-btn-box {
                width: 50%;
                height: 100%;
                
                @include disflex();
                
                .board-map-change-box {
                    width: 50%;
                    height: 50%;
                    position: relative;
                    
                    #View-Method-Board {
                        width: 60%;
                        height: 100%;
                        
                        position: absolute;
                        top: 28%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                    
                    #View-Method-Map {
                        width: 60%;
                        height: 100%;
                        
                        position: absolute;
                        top: 25%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 1;
                    }
                }
                
                .select-btn {
                    border: none;  
                    background: rgb(20, 101, 173);
                    color: #fff;
                    border-radius: 10px;
                    width: 30%;
                    height: 50%;
                    margin: 10px;
                    font-size: 16px;
                    font-weight: 700;
                    cursor: pointer;
                    transition-duration: 0.5s;
                    box-shadow: 2px 2px 2px 1px #444;
                    
                    &:hover {
                        opacity: 0.9;
                        background: #ff6701;
                    }
                    
                    
                }
            }
            
            .search-wrapper {
                width: 40% !important;
                height: 100% !important;
                @include disflex();
                
                .search-box {
                    width: 80%;
                    height: 50%;
                    border-radius: 10px;
                    @include disflex();
                    
                    .input-box {
                        border: none;
                        width: 80%;
                        height: 41px;
                        border-radius: 10px 0px 0px 10px;
                        
                        #Input {
                            border: 2px solid #ff6701;
                            border-right: none;
                            border-radius: 10px 0px 0px 10px;
                            width: 100%;
                            height: 100%;
                            padding-left: 3%;
                            font-size: 16px;
                            font-weight: 700;
                            
                            &:focus {
                                outline: none;
                            }
                        }
                    }
                
                .search-btn-box {
                    border-radius: 0px 10px 10px 0px;
                    border: none;
                    width: 49px;
                    height: 41px;
                    
                    #Search-Btn {
                        border: 2px solid #ff6701;
                        border-radius: 0px 10px 10px 0px;
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                        position: relative;
                        overflow: hidden;
                        
                        p {
                            background: url('./img/Search.png') no-repeat;
                            background-size: 43%;
                            width: 100%;
                            height: 100%;
                            
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-25%, -25%);
                        }
                    }
                }
            }
        }
            
            .create-post-box {
                width: 20%;
                height: 100%;
                @include disflex();

                .info-write-btn {
                    border: none;
                    background: #1465ad;
                    box-shadow: 1px 1px 2px 1px #444;
                    border-radius: 10px;
                    width: 70%;
                    height: 50%;
                    cursor: pointer;
                    transition-duration: 0.3s;

                    &:hover {
                        opacity: 0.9;
                        background: #ff6701;
                    }

                    p {
                        font-size: 16px;
                        color: #fff;
                        font-weight: 700;
                    }
                }
            }
        }

        .hp-info-write-btn {
            width: 100px;
            height: 50px;

            .info-write-btn {
                width: 100px;
                height: 50px;
            }
        }
    }

    // hot-place 정보 box
    .hp-info-box {
        background: #fff;
        width: 100%;
        height: 1505px;
        padding: 15px;
        overflow: scroll;
        
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        

        // hot-place 정보
        .hp-info {
            background: #eeeeee;
            box-shadow: 2px 2px 5px 1px #444;
            width: 49%;
            height: 300px;
            padding: 10px;
            padding-bottom: 0;
            margin-bottom: 20px;
            border-radius: 10px;
            transition-duration: 0.3s;
            position: relative;
            
            &:hover {
                opacity: 0.6;
            }
            &:hover .hp-info-modify-delete-box .info-modify-box .info-modify-btn {
                display: block;
            }
            &:hover .hp-info-modify-delete-box .info-delete-box .info-delete-btn {
                display: block;
            }

            .hp-info-modify-delete-box {
                width: 80px;
                height: 30px;
                position: absolute;
                right: 10px;
                display: flex;

                .info-modify-box {
                    width: 50%;
                    height: 100%;
                    transition-duration: 0.3s; 
                    @include disflex();
                    
                    .info-modify-btn {
                        background: url('./img/Modify.png') no-repeat;
                        background-size: 100%;
                        border: none;
                        width: 25px;
                        height: 25px;
                        cursor: pointer;
                        display: none;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
                
                .info-delete-box {
                    width: 50%;
                    height: 100%;
                    transition-duration: 0.3s; 
                    @include disflex();
                    
                    .info-delete-btn {
                        background: url('./img/Delete.png') no-repeat;
                        background-size: 100%;
                        border: none;
                        width: 25px;
                        height: 25px;
                        cursor: pointer;
                        display: none;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }
            
            // hot-place img + text
            .hp-info-img-text-box {
                width: 100%;
                height: 100%;
                
                // hot-place img box
                .hp-info-img-box {
                    width: 100%;
                    height: 70%;
                    @include disflex();
                    
                    // hot-place img
                    .info-img {
                        width: 100%;
                        height: 100%;
                        margin-bottom: 3%;
                        border: none;
                        overflow: hidden;
                        // background: url('./img/ad1.jpg')no-repeat;
                        background-size: cover;
                        border-radius: 5px 5px 0px 0px;
                    }
                    
                }
                
                .hp-text-wrapper {
                    border-top: 3px solid #1465ad;
                    width: 100%;
                    height: 35%;    
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    
                    .hp-text-box {
                        width: 80%;
                        height: 100%;
                        
                        .hp-text {
                            width: 95%;
                            height: 50%;
                            font-size: 16px;
                            font-weight: 700;
                            border-bottom: 1px dashed #1465ad;
                            @include disflex();
                        }
                        
                        .hp-writer-date-box {
                            width: 95%;
                            height: 50%;
                            display: flex;
                            
                            .hp-writer-box {
                                width: 50%;
                                height: 100%;
                                @include disflex();
                                
                                .hp-writer-text {
                                    width: 100%;
                                    height: 100%;
                                    font-size: 16px;
                                    font-weight: 700;
                                    display: flex;
                                    justify-content: left;
                                    align-items: center;
                                    @include disflex();
                                }
                            }
                            
                            .hp-date-box {
                                width: 50%;
                                height: 100%;
                                @include disflex();
                                
                                .hp-date-text {
                                    width: 100%;
                                    height: 100%;
                                    font-size: 16px;
                                    font-weight: 700;
                                    display: flex;
                                    justify-content: left;
                                    align-items: center;
                                }
                            }
                        }
                    }
                    
                    .like-box {
                        width: 20%;
                        height: 100%;
                        padding-top: 50px;
                        position: relative;
                        
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        .like-count {
                            width: 50%;
                            height: 100%;
                            text-align: center;
                            line-height: 3.3em;
                            font-weight: 700;
                        }
                        
                        #Like {
                            background: url('./img/Like.png') no-repeat;
                            background-size: 100%;
                            border: none;
                            width: 50%;
                            height: 100%;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}












