.mapBox {
    width: 360px;
    height: 300px;
    padding: 10px;
}
.memberNickname {
    border-radius: 10px;
    background-color: #bad5f0e0;
    font-weight: 700;
    width: fit-content;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 5px;

}

.inside {
    margin: 0 18px;

}
.hotplaceName {
    font-weight: bold;
    color: blue;
  }
  
  .hotplaceFullAddress {
    font-style: italic;
    color: #555;
    line-height: 1.5;
  }
  
  .hotplaceImg {
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .hotplaceContent {
    line-height: 1.5;
    color: #222;
  }
  
  
  
  
  
  