.view-map-wrapper {
    width: 100%;
    height: 482px;

    .view-map-box {
        // border: 4px solid rgb(20, 101, 173);
        border-top: none;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        overflow: scroll;
    }
}