.fbm-inr-info-box {
    width: 75%;
    height: 65%;
    margin-top: 23px;
    position: relative;
    
    // 세부 정보 공통 box
    .fbm-inr-info {
        background: none;
        color: #000;
        height: 40%;
        font-size: 16px;
        font-weight: 700;
        
        display: flex;
        align-items: center;
    }

    // 지역
    #Area {
        background: none;
        width: 15%;
        font-weight: 700;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // 게시판 제목
    #BoardTitle {
        width: 80%;
        position: absolute;
        top: 0;
        right: 0;
    }

    // 카테고리
    #Categories {
        width: 15%;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // 날짜
    #Date {
        width: 20%;
        position: absolute;
        bottom: 0;
        right: 333px;
    }

    // 댓글 + 좋아요 box 
    .reply-like-box {
        width: 30%;
        height: 40%;
        display: flex;
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;

        // 댓글
        #Reply {
            width: 50%;
            height: 100%;
            display: flex;
            
            .reply-img {
                background: url('./img/PlayListReply.png') no-repeat;
                background-size: 50%;
                background-position: 20px;
                width: 50%;
                height: 100%;
            }
            .reply-count-box {
                width: 50%;
                height: 100%;
                font-weight: 700;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        
        // 좋아요
        #Like {
            width: 50%;
            height: 100%;
            display: flex;
            
            .like-img {
                background: url('./img/Like.png') no-repeat;
                background-size: 50%;
                background-position: 20px;
                width: 50%;
                height: 100%;
            }
            .like-count-box {
                width: 50%;
                height: 100%;
                font-weight: 700;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            
        }
    }
}