
@mixin disflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    position: relative;
    box-sizing: border-box;
}

.backDrop {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include disflex();
    z-index: 1;
    display: none;
}

@keyframes openGlobalChattingModal {
    0% {
        width: 0%;
        height: 0%;
        opacity: 0;
        transform: translate(800%, -50%);
    } 50% {
        width: 950px;
        height: 0%;
        transform: translate(-50%, -50%);
    }
    100% {
        width: 950px;
        height: 900px;
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes closeGlobalChattingModal {
    0% {
        width: 950px;
        height: 900px;
        opacity: 1;
        transform: translate(-50%, -50%);
    } 50% {
        width: 950px;
        height: 0%;
        transform: translate(-50%, -50%);
    }
    100% {
        width: 0%;
        height: 0%;
        opacity: 0;
        transform: translate(-800%, -50%);
    }
}

// 글로벌 채팅창
.global-chatting-wrapper {
    // border: 2px solid #000;
    // border-radius: 10px;
    width: 950px;
    height: 900px;
    display: none;
    z-index: 100;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


















// 글로벌 채팅 버튼
.global-chatting-btn-box {
    // border: 1px solid #000;
    width: 75px;
    height: 75px;
    border-radius: 10px;

    position: fixed;
    bottom: 75px;
    right: 75px;

    // 채팅 아이콘
    .gbchatting {
        background: url('./img/GlobalChatting.png') no-repeat;
        background-size: 80%;
        background-position: 7px;
        border: none;
        width: 75px;
        height: 75px;
        border-radius: 10px;   
        cursor: pointer;

        @include disflex();

        &:hover {
            opacity: 0.7;
        }
    }

















}