@import url(./common.scss);

@mixin disflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

// main 전체
.connect-main-wrapper {
    width: 100%;
    height: 894px;

    // main 광고 box 
    .cm-ad-box {
        width: 100%;
        height: 368px;
        
        display: flex;
        justify-content: space-between;

        // cm 메인 광고 묶음
        .cm-ad {
            display: flex;

            // cm 메인 광고1
            #cm-ad1 {
                width: 660px;
                height: 100%;
                background: url(./img/main-ad-sample.png) no-repeat;
                background-size: 110%;
            }
            
            // cm 메인 광고2
            #cm-ad2 {
                width: 275px;
                height: 100%;
                background: url(./img/main-ad-sample2.png) no-repeat;
                background-size: 100%;
            }

        }

    }

    // cm 메인 메뉴 전체
    .cm-menu-wrapper {
        width: 100%;
        height: 526px;
        
        // cm 메인 메뉴 box
        .cm-menu-box {
            width: 100%;
            height: 526px;
        }
        
        // cm 메인 메뉴
        .cm-menu {
            width: 85%;
            height: 90%;
            margin: 50px auto;

            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            
            
            #HotPlace {
                background: url('../scss/img/MainPageHotPlace.png') no-repeat;
                background-size: 100%;
                background-position: 1px;
            }
            #FreeBoard {
                background: url('../scss/img/MainPageFreeBoard.png') no-repeat;
                background-size: 100%;
                background-position: 1px;
            }
            #MakingFriends {
                background: url('../scss/img/MainPageMakingFriends.png') no-repeat;
                background-size: 100%;
                background-position: 1px;
            }
            #closingSale {
                background: url('../scss/img/MainPageClosingSale.png') no-repeat;
                background-size: 100%;
                background-position: 1px;
            }
            #StoreEvent {
                background: url('../scss/img/MainPageStoreEvent.png') no-repeat;
                background-size: 100%;
                background-position: 1px;
            }
            #MyPage {
                background: url('../scss/img/MainPageMyPage.png') no-repeat;
                background-size: 100%;
                background-position: 1px;
            }

            
        }
    }    
}