@mixin disflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    position: relative;
}

#UserInfoModifyModal {
    background: #eeefff;
    width: 800px;
    height: 750px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

    .user-info-modify-modal-box {
        width: 100%;
        height: 100%;

        .uim-header-wrapper {
            width: 100%;
            height: 15%;
            @include disflex();

            .uim-title-box {
                background: #eeefff;
                width: 90%;
                height: 50%;
                @include disflex();

                h2 {
                    font-size: 25px;
                    font-weight: 700;
                }
            }
        }

        .uim-main-wrapper {
            width: 100%;
            height: 70%;

            .uim-main-box {
                width: 100%;
                height: 100%;
                display: flex;

                .uim-profile-box {
                    width: 35%;
                    height: 100%;

                    .uim-profile-img-text-wrapper {
                        width: 100%;
                        height: 100%;

                        .uim-profile-img-text-box {
                            width: 100%;
                            height: 100%;
                            @include disflex();

                            .img-text-box {
                                width: 70%;
                                height: 80%;

                                .uim-profile-img-box {
                                    width: 100%;
                                    height: 80%;
                                    @include disflex();

                                    .uim-profile-img {
                                        border: 1px solid #000;
                                        border-radius: 50%;
                                        width: 140px;
                                        height: 140px;
                                    }
                                }

                                .uim-profile-text-wrapper {
                                    width: 100%;
                                    height: 20%;
                                    position: relative;

                                    .uim-profile-text-box {
                                        width: 100%;
                                        height: 100%;
                                        position: absolute;
                                        top: 0;
                                        right: -20%;

                                        .profile-modify-btn {
                                            background: none;
                                            border: none;
                                            width: 60%;
                                            height: 45%;
                                            margin-bottom: 8px;
                                            cursor: pointer;
                                            @include disflex();

                                            p {
                                                border: none;
                                                background: #1465ad;
                                                color: #fff;
                                                width: 100%;
                                                height: 100%;
                                                font-size: 14px;
                                                @include disflex();
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .uim-info-wrapper {
                    width: 65%;
                    height: 100%;

                    .uim-info-box {
                        width: 100%;
                        height: 100%;

                        .uim-info-list-box {
                            width: 100%;
                            height: 100%;

                            .uim-info-list {
                                width: 100%;
                                height: 15%;
                                display: flex;

                                .list-key {
                                    width: 20%;
                                    height: 100%;
                                    @include disflex();

                                    p {
                                        font-weight: 700;
                                    }
                                }

                                .list-value {
                                    width: 80%;
                                    height: 100%;
                                    @include disflex();
                                }
                            }
                        }
                    }
                }
            }
        }

        .uim-footer-wrapper {
            width: 100%;
            height: 15%;

            .uim-footer-box {
                width: 100%;
                height: 100%;
                @include disflex();

                .uim-btn-box {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .uim-btn {
                        border: none;
                        background: none;
                        // box-shadow: 0 2px 2px 1px #444;
                        width: 35%;
                        height: 40%;
                        cursor: pointer;

                        p {
                            font-size: 16px;
                            font-weight: 700;
                        }
                    }

                    #Cancel {
                        margin-right: 40px;
                        background: #fff;
                    }

                    #Save {
                        background: #1465ad;
                        color: #fff;
                    }
                }
            }
        }
    }
}

#MyPageMainWrapper {
    width: 100%;
    height: 100%;

    .my-page-wrapper {
        width: 100%;
        height: 750px;
        @include disflex();

        .my-page-box {
            width: 90%;
            height: 90%;

            .mp-header {
                // background: #eeefff;
                border: 1px solid #000;
                border-radius: 10px;
                width: 100%;
                height: 40%;

                .mp-user-info-box {
                    width: 100%;
                    height: 100%;
                
                    @include disflex();

                    .mp-user-info {
                        width: 95%;
                        height: 90%;
                        display: flex;

                        .mp-user-profile-wrapper {
                            width: 30%;
                            height: 100%;
                            @include disflex();

                            .mp-user-profile-modify-box {
                                width: 80%;
                                height: 100%;

                                .mp-user-profile-box {
                                    width: 100%;
                                    height: 90%;
                                    @include disflex();

                                    .mp-user-profile {
                                        border: 1px solid #000;
                                        border-radius: 50%;
                                        width: 140px;
                                        height: 140px;
                                    }
                                }

                                .mp-user-modify-profile {
                                    width: 100%;
                                    height: 10%;

                                    .mp-user-modify-info-btn-box {
                                        width: 100%;
                                        height: 100%;
                                        @include disflex();

                                        .mp-user-modify-info-btn {
                                            border: none;
                                            background: none;
                                            width: 60%;
                                            height: 100%;
                                            cursor: pointer;

                                            &:hover {
                                                color: #ff6701;
                                            }

                                            p {
                                                width: 100%;
                                                height: 100%;
                                                font-size: 14px;
                                                font-weight: 700;
                                                @include disflex();
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .mp-user-info-text-menu-box {
                            width: 70%;
                            height: 100%;

                            .mp-user-info-text-box {
                                width: 100%;
                                height: 40%;

                                .mp-user-info-main-text {
                                    width: 100%;
                                    height: 50%;
                                    display: flex;
                                    justify-content: left;
                                    align-items: center;

                                    p {
                                        font-size: 20px;
                                        font-weight: 700;
                                    }
                                }

                                .mp-user-info-comments {
                                    width: 100%;
                                    height: 50%;
                                    display: flex;
                                    justify-content: left;
                                    align-items: center;

                                    p {
                                        background: #fff;
                                        width: 100%;
                                        height: 50%;
                                        padding: 2px;
                                        font-size: 12px;
                                        font-weight: 700;
                                        display: flex;
                                        justify-content: left;
                                        align-items: center;
                                    }
                                }
                            }

                            .mp-user-info-menu-box {
                                width: 100%;
                                height: 60%;
                                display: flex;



                                .mp-user-activity-wrapper {
                                    background: none;
                                    width: 33.33%;
                                    height: 100%;
                                    border: none;
                                    cursor: pointer;

                                    .mp-user-activity-box {
                                        width: 100%;
                                        height: 80%;
                                        @include disflex();

                                        .mp-user-activity {
                                            border: none;
                                            background: url('./img/UserActivity.png') no-repeat;
                                            background-size: 100%;
                                            width: 100px;
                                            height: 100px;
                                        }
                                    }

                                    p {
                                        color: #000;
                                        width: 100%;
                                        height: 20%;
                                        font-size: 14px;
                                        font-weight: 700;
                                        @include disflex();
                                    }
                                }

                                .mp-user-like-wrapper {
                                    background: none;
                                    width: 33.33%;
                                    height: 100%;
                                    border: none;
                                    cursor: pointer;

                                    .mp-user-like-box {
                                        width: 100%;
                                        height: 80%;
                                        @include disflex();

                                        .mp-user-like {
                                            border: none;
                                            background: url('./img/UserLike.png') no-repeat;
                                            background-size: 100%;

                                            width: 100px;
                                            height: 100px;
                                        }
                                    }

                                    p {
                                        color: #000;
                                        width: 100%;
                                        height: 20%;
                                        font-size: 14px;
                                        font-weight: 700;
                                        @include disflex();
                                    }
                                }

                                .mp-user-setting-location-wrapper {
                                    background: none;
                                    width: 33.33%;
                                    height: 100%;
                                    border: none;
                                    cursor: pointer;

                                    .mp-user-setting-location-box {
                                        width: 100%;
                                        height: 80%;
                                        @include disflex();

                                        .mp-user-setting-location {
                                            border: none;
                                            background: url('./img/UserLocation.png') no-repeat;
                                            background-size: 100%;
                                            width: 100px;
                                            height: 100px;
                                        }
                                    }

                                    p {
                                        color: #000;
                                        width: 100%;
                                        height: 20%;
                                        font-size: 14px;
                                        font-weight: 700;
                                        @include disflex();
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .mp-change-menu-wrapper {
                width: 100%;
                height: 400px;
                margin-top: 20px;

                .mp-change-menu-box {
                    width: 100%;
                    height: 100%;
                    @include disflex();

                    .mp-change-menu {
                        // background: #eeefff;                        
                        width: 90%;
                        height: 90%;
                    }
                }
            }
        }
    }
}