.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#keywordInput {
  width: 300px;
  height: 40px;
  padding-left: 1%;
  font-size: 16px;
  border: 1px solid #ff6701;
  border-right: none;
  border-radius: 10px 0px 0px 10px;

  &:focus {
    outline: none;
  }
}

.search-button {
  height: 40px;
  padding: 0 20px;
  font-size: 16px;
  background-color: #1465ad;
  border-radius: 0px 10px 10px 0px;
  color: #fff;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.selected-place-info {
  width: 300px;
  z-index: 1000;
  background-color: rgba(255, 168, 17, 0.9);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  box-shadow: 1 2px 4px rgba(0, 0, 0, 0.1);
}


.selected-place-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.selected-place-info div {
  font-size: 16px;
  margin-bottom: 5px;
  text-align: left;
}

#map {
  // border-bottom: 2px solid #1465ad;
  width: 650px;
  height: 500px;
}